* {
  box-sizing: border-box;
}
body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loader {

  background-color: cornflowerblue;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  color: white;
  border-top: rgba(255, 255, 255, 0.308) solid 10px;
  border-bottom: rgba(255, 255, 255, 0.308) solid 10px;
  border-left: rgba(255, 255, 255, 0.308) solid 10px;
  border-right: rgb(255, 255, 255) solid 10px;
  animation: loader 1s infinite linear;
}
@keyframes loader {
    0% {
        transform :rotate(0deg);
    }
    100% {
        transform :rotate(360deg);
    }
}